.addToContent {
 	text-align: center;
 	padding:3px; 
}
.addTo {
	background-color: #fcfcfc;
	border:1px  #dedede solid; 
	padding:1px; 
	width: 560px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px;
	margin: auto; 
	text-align:center;
}
.addTo img {
	vertical-align: middle;
	padding: 1px 2px 1px 6px;
	cursor:pointer;
}
.addTo dl {
  	background-color: #fbfbfb;
  	color: #000000;
	margin: 0px;
	padding: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
}
.addTo dd {
	display: inline;
	list-style: none; 
	padding:1px; 
	margin:0px;
	cursor:pointer;
}
.addToAbout{
	display: inline;
	list-style: none; 
	padding:1px; 
	margin:0px;
	font-weight: bold;
	cursor:help;
}
.addToHeader{
	padding:1px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px; 
	background-color:#8CC63E; 
	color:#FFFFFF;
	cursor:help;}
/*  the next 2 styles are only for horizontal 2 row layouts */
.addTo2Row {
	background-color: #fcfcfc;
	border:1px  #cccccc solid; 
	padding:1px; 
	width: 320px; height:55px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px;
	margin: auto; 
	text-align:left; 
	overflow:visible;
}
.addToFloat{
	float:left; 
	text-align:left; 
	padding:8px;
	cursor:pointer;
}
/*  the next 2 styles are only for verticallayouts */
.addToV {
	background-color: #f8f8f8;
	border:1px  #bbbbbb solid; 
	padding:1px; 
	width: 90px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px;
	margin: auto; 
	text-align:left;
}
.addToVNoImg{
	background-color: #f8f8f8;
	border:1px  #bbbbbb solid; 
	padding:1px; 
	width: 60px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px;
	margin: auto; 
	text-align:left;
}
.addToV img {
	vertical-align: middle;
	padding: 1px 2px 1px 3px;
	cursor:pointer;
}
.addToV dl, .addToVNoImg dl {
  	background-color: #fbfbfb;
  	color: #000000;
	margin: 0px;
	padding: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
}
.addToV dd, .addToVNoImg dd {
	list-style: none; 
	padding:1px; 
	margin:0px; 
	cursor:pointer; 
}
.addToAboutV{
	list-style: none; 
	padding:1px;
	font-weight: bold;
	cursor:help;
}