/* Global Settings */



html, body {

    margin: 0px;

    padding: 0px;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    line-height: 18px;

    color:#474038;

    background: #F7F7F7 url(../images/img01.jpg) repeat left top;

}

#wrapper {
	margin: 0px;
	padding: 0px;
	background: url(../images/img02.jpg) repeat-x left top;
}

h1, h2, h3, h4 {

    font-size: 100%;

}

input.checkbox {

    border: 1px solid #bdac85;

}

a {

/*  color: #333333; */

    color: #006699;

    text-decoration: none;

}



a:hover {

    color: #36C5E4;

    text-decoration: none;

    /*border-bottom: 1px dotted #333333;*/

}

#othervideo a img, .groupthumb a img,#small-rightbox a img {

    border: 0;

}

.relatedvideothumb a img {

    padding: 2px;

    border: 1px solid #EAEAEA;

}

/*

a:link, a:visited {

    color: #00e5ff;

    text-decoration: none;

    border: none;

}

*/

.clear {

    clear: both;

}

form {

    margin: 0;

    padding: 0;

}



fieldset {

    margin: 1em 0;

    border: none;

}



legend {

    margin: 1em 0;

    padding: 0 .5em;

    background: transparent;

    font-size: 19px;

    font-weight: normal;
	
	color:#2DDAFF;
	
	letter-spacing: -1px;

}



input.fullboxtext {

    margin: 0 0 10px 0;

    padding: 3px;

    border: 1px solid #25afc0;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;

    height: 15px;

}

textarea.fullboxtext{

    margin: 0 0 10px 0;

    padding: 3px;

    border: 1px solid #25afc0;

    background: #ffffff url(../images/tpl_textarea_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;   

}

/* End Of Global Settings */



/* Clip Share Logo */



#head {

    margin: 0px auto;

    padding: 0px;

    width: 1000px;
	
	height: 235px;
	
    background: transparent url(../images/img03.jpg) no-repeat;

}



#head h1 {

    margin: 68px 30px 0px 0px;

    padding: 0px;

    background: transparent url(../images/tpl_logo.png) no-repeat;

    text-indent: -9999px;

    float: left;

    display: inline;

}



#head h1 a.logo {

    display: block;

    width: 320px;

    height: 119px;

    border: none;

}



#head h2 {

    margin: 48px 0 0 10px;

    padding: 0px;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #303030;

    float: left;

}



#head h3 {

    margin: 48px 0 0 0px;
	
	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    padding: 0px;

    float: right;

}

#head h3 a {

	color:#6bb4e2;

}

#head h3 a:hover {
	color:#0e99f1;
}



/* End of Clip Share Logo */



/* Clip Share Navigation */



#headnav {

    margin: 0 auto;

    padding: 0px;

    text-align: left;

    width: 1000px;

}



#navbar {

	width: 1000px;
	height: 65px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/img04.jpg) no-repeat left top;

}

#navcontainer {

	width: 1000px;
	height: 65px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/img04.jpg) no-repeat left top;

}



#navcontainer ul {

    float: right;
	margin: 0;
	padding: 0px 25px 0px 0px;
	list-style: none;
	line-height: normal;

}



#navcontainer li {

	float: left;
}



#navcontainer a {

   display: block;
	width: 120px;
	height: 39px;
	margin-left: 10px;
	padding-top: 15px;
	background: url(../images/img05.jpg) repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;

}



#navcontainer a:link, #navcontainer a:visited {

}



#navcontainer a:hover {

    text-decoration: none;
	background: url(../images/img06.jpg) no-repeat left top;
	color: #493E2B;

}



#navcontainer li a#currentTab {

	background: url(../images/img06.jpg) no-repeat left top;
	padding-left: 0;
	color: #493E2B;

}


#navsubbar {

	width:1000px;

    background: #ffffff;

    height: 25px;

}

#navsubbar p {

	padding: 0;

    margin: 0 auto;

    text-indent: 20px;

    width: 1000px;

    color: #5a5a5a;
	
	float:right;

    text-align: center;

}



#navsubbar p a {

    margin: 0px 7px;

    color: #5a5a5a;

}



/* End of Clip Share Navigation */

    /* GENERAL CONTAINER */
	
#wrapper-content {

	width: 1000px;
	background: #ffffff;
    margin: 0px auto;
	float: center;
    padding: 0px;

}

#container {

    margin: 0px auto;

    padding: 0px;

    width: 800px;

    text-align: center;
	
	background: #ffffff;
}



#leftside {

    margin: 0px;

    padding: 0px;

    width: 500px;

    text-align: left;

    float: left;

}

#fullside {

    margin: 0px;

    padding: 0px;

    width: 728px;

    text-align: left;

}



#login-title, #statistic-title, #online-title,#vote-title,#populartags-title,

#adv-title, #latestvideo-title, #profiledetail-title, 

#recenttags-title, #userinfo-title, #mediumbox-title, 

#recently-title, #fullbox-title, #myprofile-title,#invitefriend-title,#invitenewfriend-title, 

#mostactive-title, #topwatched-title, #signup-title, #viewvideo-title,

#bookmark-title, #videocomment-title, #othervideo-title, #relatedvideo-title, 

#relatedtag-title,#recently-added-title,#browsegroup-title, #smallbox-title,

#videodetails-title, #sharedetails-title, #myvideo-title, #myfriends-title,

#groups-title, #groupforum-title, #grouprecentvideo-title,#small-rightbox-title  {

    height: 25px;

    padding-left: 10px;

    background: url("../images/tpl_box_bar.png") repeat-x;

    font: normal 19px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    letter-spacing: -1px;

    color:#FFFFFF;

}

#small-rightbox-title-small{

    height: 25px;

    padding-left: 10px;

    background: url("../images/tpl_box_bar.png") repeat-x;

    font: normal 15px/23px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    letter-spacing: -1px;

    color:#FFFFFF;

}  

#populartags-content, #recenttags-content, #relatedtag-content {
    padding:10px;

    margin-top: 2px;

    background: url("../images/tpl_box_shading.png") repeat-x;
	
	text-align: justify;
}

#login-content, #statistic-content, #adv-content, #online-content,

#latestvideo-content, #profiledetail-content, #vote-content, 

#userinfo-content, #mediumbox-content, #recently-content, #fullbox-content,#invitefriend-content,#invitenewfriend-content,

#myprofile-content, #mostactive-content, #topwatched-content, #signup-content, #viewvideo-content,

#bookmark-content, #othervideo-content, #relatedvideo-content, #recently-added-content,

#browsegroup-content, #smallbox-content, #videodetails-content, #sharedetails-content, 

#groupforum-content, #grouprecentvideo-content,#small-rightbox-content {

    padding:10px;

    margin-top: 2px;

    background: url("../images/tpl_box_shading.png") repeat-x;

}

#videocomment-content, #myvideo-content, #myfriends-content, #groups-content {

	background:transparent url("../images/tpl_box_shading.png") repeat-x;

	margin-top:2px;

	padding: 0 0 20px 0;

}


/* End of GENERAL CONTAINER Clipshare */

#small-rightbox-content span.title {

	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#small-rightbox-content span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

#small-rightbox-content span.info {

	color: #999999;
	
	font-size: 13px;

}

#small-rightbox-content span.tags {

	text-decoration: none;
	font-weight: normal;
	border-bottom:dotted 1px #aaaaaa;

}
	
/* Clip Share Search */

#containersearch{

}

#search {

    margin: 92px 0 0 30px;
	
	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    padding: 0px;

    float: right;

}



#search form p {

    margin: 0px;

    padding: 0px;

}



#search form input.text, #search form select {

	margin: 0 0 0 0;

    border: 0px solid #d3d3d3;

    background: #ffffff;

    font: normal 14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #474038;
	
}



#search form input.text {

    width: 200px;

    padding: 3px;

}



#search form select {

    width: 0px;

    padding: 0px;

}



#search form input.button {

    margin: -7px 0 0 0;

    padding: 0px;

    vertical-align: middle;
	
	height: 26px;
	
	width: 26px;

}



/* End of Clip Share Search */



/* Clip Share Banner */



#banner {

    margin: 0 0 5px 0;

    padding: 0px;

    width: 500px;

    background: transparent url(../images/tpl_banner_bg.gif) repeat-x;

    border: 1px solid #e8eaea;

    height: 308px;

}



/* * html #banner {

    margin: -10px 0 10px 0;

} */



.feature {

    margin: 5px 0 0 15px;

    padding: 5px;

    float: left;

    width: 136px;

    display: inline;

} 

.feature_upload {

    margin: 5px 0 0 15px;

    padding: 5px;

    float: left;

    width: 136px;

    display: inline;
	
	padding:10px;

    margin-top: 2px;

    background: url("../images/tpl_box_shading.png") repeat-x;

}


.feature_head {

	font: normal 15px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;
	
	margin: 2px 0 0 0;

    padding: 2px;
	
	float: center;
	
	text-align: center;

}

.feature h3 {

    margin: 0px;

    padding: 0px;

    font: normal 30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;

    letter-spacing: -2px;

}



.feature p {

    margin: 0px;

    padding: 0px;

}

#statistic-content h3 {

    margin: 0px;

    padding: 0px;

    font: normal 30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;

    letter-spacing: -2px;
	
	text-align:center;

}

#statistic-content img {

    margin: 0 0 0 50px;

    padding: 0px;

    display: block;
	
	float:center;

}


.feature p img {

    margin: 5px;

    padding: 0px;

    display: block;

}



/* Clip Share left side */

#recently, #userinfo, #mediumbox, #mostactive, #topwatched, 

#signup,#browsegroup, #viewvideo, #recently-added,

#myvideo, #myfriends, #groups ,#bookmark, #videodetails, #sharedetails, #videocomment {

    display:block;

    width:496px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

    margin-bottom: 10px;

    margin-left: auto;

    margin-right: auto;

}



#mostactive img.thumb, #topwatched img.thumb,#recently-added img.thumb{

    width:120px;

    height:90px;

}





#useraction {

    display:block;

    width:450px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

    margin-bottom: 20px;

    margin-left:20px;

}

#useraction span.info {

	color: #999999;

}

#bookmark ul{

    margin-left: 20px;

    padding: 0;

}

* html #bookmark ul{

    margin-left: 0;

    padding: 0;

}

#useraction p {

    float: left;

    margin: 20px;

}

.arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left;

    position: relative;

    top: -12px;

    left: -10px;

}

#videocomment .arrow-general

{

    margin: 0px;

    padding: 0px;

    height: 9px;

    background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left;

    position: relative;

    top: -2px; 

    left: 0; 

}

/*#groupforum .arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    background: transparent url(images/tpl_box_arrow.gif) no-repeat top left;

    position: relative;

    top: -12px; 

    left: 0;

}*/

#myvideo .arrow-general, #myfriends .arrow-general, #groups .arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left;

    position: relative;

    top: -2px; 

    left: 0; 

}

#online .arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left;

    position: relative;

    top: -12px; 

    left: 0; 

}

#recently a img.right {

    margin: 35px 0px 0px 0px;

    padding: 0px;

    border: 0px solid #bbbfaf;

    float: left;

}

#recently a img.left {

    margin: 35px -4px 0px 8px;

    padding: 0px;

    border: 0px solid #bbbfaf;

    float: left;

}



.viewed {

    margin: 10px 9px 0 13px;

    padding: 0 0 30px 0;

    float: left;

    width: 80px;

    /*width: 100px;*/

    display: inline;

}



.viewed a {

    border: none;

    text-decoration: none;

}



.viewed a img.image {

    margin: 0 0 15px 0;

    padding: 0px;

    border: 1px solid #bbbfaf;

    display: block;

}



.viewed p {

    margin: 0px;

    padding: 0px;

    text-align: center;

}



.viewed p span {

    display: block;

    font-size: 10px;

}



/* End of Clip Share Recently */



/* Clip Share Sub Tab Menu */



#submenu {

    margin: 0px;

    padding: 0px;

    width: 500px;

}



#tabmenucontainer {

    margin: 0px;

    padding: 0px;

    position: relative;

    top: 15px;

    width: 375px;

}



#tabmenucontainer ul {

    margin: 0px;

    padding: 0px;

    list-style-type: none;

    text-align: center;

    font: normal 14px/24px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}



#tabmenucontainer li {

    display: inline;

    margin: 0px;

    padding: 0px;

    text-indent: -7px;

}



#tabmenucontainer a {

    float: left;

    display: block;

    width: 125px;

    height: 25px;

    color: #ffffff;

    border: none;

    text-decoration: none;

}



#tabmenucontainer a:link, #tabmenucontainer a:visited, #tabmenucontainer a:hover, #tabmenucontainer li a.tabactive {

    float: left;

    background: transparent url(../images/tpl_tabs_btn.gif) no-repeat left top;

    background-position: 0% -25px;

}



#tabmenucontainer a:link, #tabmenucontainer a:visited {

    background-position: 0% -25px;

}



#tabmenucontainer ul li.tabactive {

    background: transparent url(../images/tpl_tabs_btn.gif) no-repeat left top;

    background-position: 0% 0px;

    line-height: 24px;

}



#tabmenucontainer a:hover {

    background-position: 0% -50px;

    line-height: 24px;

}

 



#tabmenucontainer li a.tabactive {

    background-position: 0% 0px;

    line-height: 24px;

}



#subcontent {

    margin: 15px 0 0 0;

    padding: 0px;

    background: transparent url(../images/tpl_box_shading.png) repeat-x;

    border: 1px solid #eaeaea;

    width: 500px;

}



#subcontent p{

    margin: 0px;

    padding: 10px;

    float: left;

    display: block;

    width: 480px;
	
	font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#subcontent p.blue {

    margin: 0;

    padding: 10px;

    float: left;

    display: block;

    background: #f7feff;

    width: 480px;
	
	font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#subcontent span.title {

	font: normal 14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#subcontent span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

#subcontent span.info {

	color: #999999;

}

#subcontent span.tags {

	text-decoration: none;
	font-weight: normal;
	border-bottom:dotted 1px #aaaaaa;

}

#subcontent p a img {

    margin: 0 20px 0 0;

    padding: 1px;

    text-decoration: none;

    border: 1px solid #DDDDDD;

    float: left;

}

.comment {

    margin: 0;

    padding: 0;

    float: left;

    display: block;

    border-bottom: 1px solid #eaeaea;

    width: 477px;

}

.comment p a img {

    margin: 0 20px 10px 0;

    padding: 0px;

    text-decoration: none;

    border: 1px solid #bbbfaf;

    float: left;

}



.blue {

    background: #f7feff;

}

.selectedvideo {

    background: #fdf2f7;

}

/* End of Clip Share Sub Tab Menu */



/* Content Styling */

.contentbox {

    margin: 10px;

}

.firstdefinition {

    font-size: 14px;

    font-weight: bold;

}

.txturgent {

    font-size: 14px;

    font-weight: bold;

}

.txtsignup {

    color: #00B3D9

}

p.txturgent a {

    color: #00B3D9

}

.txtcontent a {

    text-decoration:underline

}

.hellomessage {

    font-size: 13px;

    font-weight: bold;

}

.imgprofile {

    margin: 10px 0 0 0;

}

.profileinfo {

    margin: 10px 5px 0 0;

}

.pictprofile {

    text-align: center;

}

.mypict {

    width: 52px;

    margin: 10px;

    float: left;

    display: block;

}

.userprofile {

    width: 150px;

    width: 130px;

    margin-left: 80px;



}

#bookmarklist{

    margin: 0 auto;

    text-align: center;

}

#bookmarklist li {

    list-style-type: none;

    margin: 0 20px 20px 0;

    float: left;

}

.strongtext {

    font: bold 14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

.ratingDiv,.boxPart {

    margin: 5px 0;

    text-align: center;
	
	padding-bottom: 7px;

    border-bottom: 1px solid #F5F5F5;
	
	font-size: 13px;

} 

.relatedvideolist {

    margin: 0 0 20px 0;
	
	padding-top: 5px;
	
	padding-bottom: 5px;
	
}

/* End Content Styling */



/* Right Side */



#rightside {

    margin: 0px;

    margin-right: 10px;

    padding: 0px;

    width: 215px;

    text-align: left;

    float: right;

}

#rightside_video {
    
    margin: 0px;

    margin-right: 10px;

    padding: 0px;

    width: 215px;

    text-align: left;

    float: right;

}



#login, #statistic, #online,#vote, #adv, #latestvideo, #populartags,

#profiledetail, #recenttags, #othervideo, #relatedvideo,

#relatedtag,#small-rightbox {

    display:block;

    width:213px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

}

#groupforum, #grouprecentvideo {

    display:block;

    width:700px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

}

#login-nosearch, #recenttags-nosearch, #othervideo-nosearch{

    display:block;

    width:213px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

}



#login form {

    margin: 2px;

    padding: 0px;

}



#login form p {

    margin: 0px;

    padding: 0px;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #474038;

}

#login form a {

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}



#login form p input.logintext {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 180px;
	
	color: #474038;

}



#login form p input.loginbutton {

    margin: 15px 0 0 0;

    padding: 0px; 

}


#login, #recenttags, #othervideo,#small-rightbox {

    margin: 0px 0 0 5px;

    margin-bottom:10px;

}



#small-rightbox-content textarea.fullboxtext{

    width:180px;

}



#login-nosearch, #recenttags-nosearch, #othervideo-nosearch{

    margin: 0px 0 0 5px;

}



#latestvideo {

    margin: 37px 0 0 5px;

}



#profiledetail {

    margin: 37px 0 0 5px;

}



#statistic {

    margin: 10px 0 0 5px;

    /*height: 230px;*/

}



#online {

    margin: 10px 0 0 5px;

    /*height: 330px;*/

}



#populartags{

    margin: 10px 0 0 5px;

}



#vote{

    margin: 10px 0 0 5px;

}



#adv {

    margin: 10px 0 0 5px;

    /*height: 232px;*/

}



#recenttags p {

    text-align: center;

    margin: 0 10px;

    padding-bottom: 20px;

}

#latestvideo p {

    text-align: center;

}



#statistic span {

    margin: 20px 10px;

    padding: 0 0 0 25px;

}



#statistic span.public {

    background: transparent url(../images/tpl_icon_public.gif) no-repeat;

}



#statistic span.private {

    background: transparent url(../images/tpl_icon_private.gif) no-repeat;

}



#statistic span.member {

    background: transparent url(../images/tpl_icon_member.gif) no-repeat;

}

#statistic span.watch {

    background: transparent url(../images/tpl_icon_watched.gif) no-repeat;

}



#statistic span.visitors {

    background: transparent url(../images/tpl_icon_visitors.gif) no-repeat;

}

#statistic font.info {

   color: #999999;

}



#online p {

    margin: 0px 5px;

    padding: 0px;
	
	font-size: 14px;

}



#online p span {

    margin: 5px 10px 0 0;

    padding: 0 0 0 18px;

    font-weight: normal;
	
	font-size: 11px;

}



#online p span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

}



#online p span.flag {

    background: transparent url(../images/tpl_icon_flag.gif) no-repeat;

}



#online p span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

}



#adv p {

    text-align: center;

}



#adv a img {

    margin: 0px auto;

    padding: 0px;

    border: none;

    text-decoration: none;

    vertical-align: middle;

}



/* Right Side */



/* Clip Share Rich Footer */



#richfooter {

    margin: 20px auto 0px;

    padding: 0px;

    background: #483e35;

}



#richcontainer {

    margin: 0px auto;

    padding: 0px;

    width: 730px;

    text-align: center;

}



#news, #channel, #tags {

    margin: 20px 20px 0px 5px;

    padding: 0 0 30px 0;

    text-align: left;

    width: 210px;

    color: #e0e0e0;

    float: left;

}



#news h3, #channel h3, #tags h3 {

    margin: 0 0 10px 0;

    padding: 0px;

    font: normal 20px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #ffffff;

}



#news p, #channel p {

    margin: 0px;

    padding: 5px;

    border-top: 1px dotted #897665;

    display: block;

}

#tags p {

    margin: 0px;

    padding: 0px;
	
	padding-top: 5px;

    border-top: 1px dotted #897665;
	
	text-align: justify;

    display: block;

}



#news p:hover, #channel p:hover {

    background: #2d2824;

}



#news p a, #channel p a {


    text-decoration: none;

    color: #e0e0e0;

}



#news p a:hover, #channel p a:hover {

    color: #ffffff;

}

#news img, #channel img {

padding: 1px;

}

#tags p a {

    border: none;

    text-decoration: none;

    color: #e0e0e0;

}



#tags p a:hover {

    color: #ffffff;

}



#tags p.semore {

    float: right;

    border: none;

}



/* End of Clip Share Rich Footer */



/* Clip Share Footer */



#footer {

    margin: 0px auto;

    padding: 0px;

    background: url(../images/tpl_footer_bg.png) repeat-x;
	
	width:1000px;
	
	height: 30px;

}



#footcontainer {

    margin: 0px auto;

    padding: 0px;

    width: 1000px;

    text-align: center;

    color: #635549;

}

#footcontainer .column1 {
	float: left;
	width: 570px;
}

#footcontainer.column2 {
	float: right;
	width: 273px;
}

#footcontainer a {

    margin: 0px;

    border: none;

    text-decoration: none;

    color: #ffffff;

}



#footcontainer a:hover {

    border-bottom: 1px dotted #ffffff;

}



#footcontainer a img.rss {

    border: none;

    text-decoration: none;

}


#subfooter {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#subfooter p {
	margin: 0;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #378ebf;
}

#subfooter a {
	text-decoration: underline;
	color: #378ebf;
}



/* Clip Share Medium Box */

/*

#mediumbox {

    margin: 0;

    padding: 0;

    background: transparent url(images/bg_main_box.jpg) repeat-x; 

    border: 1px solid #eaeaea;



}

#mediumbox h3 {

    margin: 0px;

    padding: 0 0 0 5px;

    background: transparent url(images/recently_bar.gif) no-repeat top;

    color: #ffffff;

    font: normal 19px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    letter-spacing: -1px;

    height: 38px;

}

*/

/* End Clip Share Medium Box */



/* Clip Share Full Box */

#fullbox,#invitefriend,#invitenewfriend{

    display:block;

    width:726px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

    text-align: left;

}

#fullbox-tags {

    display:block;

    width:500px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

    text-align: left;


}



#fullbox label,#invitefriend label,#invitenewfriend label {

    font-weight: bold;

}

#fullbox form input.inputtext,#invitefriend form input.inputtype,#invitenewfriend form input.inputtype  {

	margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;
	
	color: #474038;

}





#fullbox form p input.submitbutton,#invitefriend form p input.submitbutton,#invitenewfriend form p input.submitbutton {

    margin: 5px 0 0 0;

}



#fullbox div.fm-req,#fullbox div.fm-opt,

#invitefriend div.fm-req,#invitenewfriend div.fm-req,

#invitefriend div.fm-opt,#invitenewfriend div.fm-opt{

    

}



#fullbox div.fm-req label:before,

#invitefriend div.fm-req label:before,

#invitenewfriend div.fm-req label:before{

    content: "* "; /* does not work in IE */

    color: #CC0000;

    font-weight: bold;

}



#fullbox div.fm-opt label:before,

#invitefriend div.fm-opt label:before,

#invitenewfriend div.fm-opt label:before{

    color: #CC0000;

}

 



.submitbutton {

    margin-left: 150px;

    padding : 10px 0 0 25px;

} 





/* End Clip Share Full Box */



/* Clip Share Signup */

#signup form {

    margin: 10px;

    padding: 0px;

}

#signup label, #fullbox label {

    float: left;

    width: 150px;

    padding: 0 1em;

    text-align: right;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #474038;

}

#signup form p {

    margin: 0px;

    padding: 0px;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;

}



#signup form input.signuptext,#fullbox form input.fullboxtext {

    margin: 0 0 10px 0;

    padding: 2px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 220px;

    height: 15px;

}



textarea.fullboxtext {

	margin: 0 0 10px 0;

    padding: 6px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_textarea_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 220px;

}



#signup form p input.signupbutton {

    margin: 5px 0 0 0;

    padding: 0px;

}



/* required fields - does not work in IE */

#signup div.fm-req {

    font-weight: bold;

}



#signup div.fm-req label:before {

    content: "* "; /* does not work in IE */

    color: #CC0000;

}

.captcha {

    float: right;

    width: 400px;

    text-align: center;

    margin-right: 0px;

}

.captcha {

/*  float: right;

    width: 100%;

    text-align: right;

    margin-right: 20px;*/

}



.signupstatement {

    margin-left: 150px;

    float: left;

}

#signup ul li {

    list-style-image: url(../images/tpl_icon_bullet.gif);

}

.signupbutton {

    margin-left: 150px;

    padding : 0 0 0 25px;

}

/* End Clip Share Signup */



/* My Profile */

#myprofile {

    display:block;

    width:726px;

    padding:2px;

    background: #FFFFFF;

    border: 1px solid #F5F5F5;

    text-align: left;

}



#myprofile form {

    margin: 10px;

    padding: 0px;

}

#myprofile fieldset {

    margin: 1em 0;

    border: none;

}



#myprofile legend {

    margin: 1em 0;

    padding: 0 .5em;

    background: transparent;

    font-size: 19px;

    font-weight: normal;
	
	color:#2DDAFF;

	letter-spacing: -1px;

}



#myprofile label {

    float: left;

    width: 150px;

    padding: 0 1em;

    text-align: right;

    font-size: 12px;

    font-weight: normal;

}

#myprofile form p {

    margin: 0px;

    padding: 0px;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;

}



#myprofile form input.myprofiletext {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;
	

}

#myprofile form textarea.myprofiletext, #fullbox form textarea.inputtext {

	margin: 0 0 10px 0;

    padding: 6px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_textarea_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;

}

#myprofile form select.myprofiletext {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#myprofile form input.myprofilebrowsefile {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #d3d3d3;

    background: #ffffff url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;


}



#myprofile form p input.myprofilebutton{

    margin: 5px 0 0 0;

    padding: 0px;

}



/* required fields - does not work in IE */

#myprofile div.fm-req {

    font-weight: bold;

}



#myprofile div.fm-req label:before {

    content: "* "; /* does not work in IE */

    color: #CC0000;

}

.myprofilestatement {

    margin-left: 150px;

    float: left;

}

#myprofile ul li {

    list-style-image: url(../images/tpl_icon_bullet.gif);

}

.myprofilebutton {

    margin-left: 150px;

    padding : 0 0 0 25px;

}



/* End My Profile */



/* Clip Share User Menu */

#usermenu p{

    margin: 10px 10px;

    padding: 0 0 0 25px;

}

#usermenu h4 {

    font: normal 19px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color:#2DDAFF;
	
	letter-spacing: -1px;



}

.mystats {

    margin: 0 0 0 5px;

    float: left;

    width: 250px;

    display: inline;

}

.myinbox {

    margin: 0 0 0 5px;

    float: left;

    width: 210px;

    display: inline;

}

p.myvideostat {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

}

p.friends {

    background: transparent url(../images/tpl_icon_friends.gif) no-repeat;

}

p.friendreq {

    background: transparent url(../images/tpl_icon_friend_req.gif) no-repeat;

}

p.watch {

    background: transparent url(../images/tpl_icon_watched.gif) no-repeat;

}

p.visitors {

    background: transparent url(../images/tpl_icon_visitors.gif) no-repeat;

}

p.profile {

    background: transparent url(../images/tpl_icon_profile.gif) no-repeat;

}

p.message {

    background: transparent url(../images/tpl_icon_new_message.gif) no-repeat;

}


/* End Clip Share User Menu */



/* Most Active User */



ul#mostactiveuser {

    margin: 0;

    padding: 0;

}

ul#mostactiveuser li {

    margin: 0;

    float: left;

    list-style-type: none;

    padding: 0 0 0 24px;
	
	padding-bottom: 15px;

    text-align: center;

}

ul#mostactiveuser img {

    padding: 1px;

    border: 1px solid #EEE;
	
}

ul#mostactiveuser li.boxshow{

    margin: 0;

    float: left;

    list-style-type: none;

    padding: 0 0 0 20px;

    text-align: center;
	
	line-height: 14px;

    height:230px; 

}

ul#mostactiveuser span.title {

	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

ul#mostactiveuser span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

ul#mostactiveuser span.info {

	color: #999999;

}

/* End Most Active User */



/* top watched */

/*#topwatched {



    margin: 10px 0 0 0px;

    height: 230px;

}*/



/* End top watched */



p.specialmessage {

    border: 1px solid #EEE;

    padding: 10px;

    margin: 10px auto;

    width: 350px;

    text-align: center;

    background-color: #F0FCFF;

}

.navvideo {

    display: inline;

    text-align: right;

    float:left;

}

#fullbox-title .basicdetailed {

    display: inline;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #333333;

    letter-spacing: normal;

    margin: 0 40px 0 40px;

    width:100px;

    float:left;

    padding-top:5px;

}

#fullbox-title .basicdetailed a:hover{

    color: #FFFFFF;

}

.titlepage{

    float:left;

}



.videopaging {

    display: inline;

    width: 200px;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #333333;

    letter-spacing: normal;

    margin: 0;

    text-align: right;

    float:right;

    padding-top:5px;

    margin-right:10px;

}

#fullbox-title p img {

    margin-right: 5px;

}

#categories {

    margin: 0px;

    padding: 0px;

    width: 200px;

    text-align: left;

    float: left;
}

#categories h4 {

	font: normal 15px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;
	
	margin: 0 0 0 0;

    padding: 0;
	
	text-align: left;

}

#categories a {

    font: normal 15px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color:#2DDAFF;
	
	letter-spacing: -1px;

}

#videobox {

    text-align: center;

    margin: 0 0 0 200px;
	
	line-height: 14px;
	
	width: 500px;
	
	
}

#tagsbox {

    text-align: justify;

    margin: 0 auto;
	
}

#videobox table tr td{

    padding-bottom: 30px;

    padding-left:12px;

}

#videobox img {

    padding: 1px;

    border: 1px solid #EEE;

}

#videobox img.star {

    border: none;

}

#videobox span.title {

	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#videobox span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

#videobox span.info {

	color: #999999;

}

.center {

    text-align: center;

}

#paging{

    width:496px;

    margin: 0px auto;

    padding: 0px;

    text-align:center;

}

#paging-left{

    width:496px;

}

.pagingnav{

width:495px;

font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

.pagingnav {

/*width: 496px;*/

/*background: url(../img/chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/

padding: 0;

margin: 0px auto;

line-height: 28px;

text-align: center; /*set value to "left", "center", or "right"*/

}

.pagingnav  {

/*display: inline;*/

padding: 2px;


}

.pagingnav a{

color: #333;

padding: 2px 4px;

margin: 2px; 

text-decoration: none;

border: 1px solid #ccc;

display: block:

}

span.pagingnav {

color: #333;

padding: 2px 4px;

margin: 2px; 

text-decoration: none;

border: 1px solid #90ecff;

background-color: #effcff;

display: block:

}

.pagingnav   a:hover{

    text-decoration: none;

    background-color: #effcff;

    font-weight: normal;

}

.replythis {

    background: url(../images/tpl_icon_reply.gif) no-repeat left center;

    padding: 0 80px 0 20px;

    float: right;

    margin-bottom: 10px;

}

.videoplayer {

    margin-left: 13px;

}

.textdesc{

    width:120px;

}

.listchannel, .listchannellarge{

    float:left;

    padding:5px;

    margin-bottom: 5px;

}

.listchannellarge{

    width:650px;

}

.listchannellarge .imagechannelinfo,.listchannellarge .imagechannel{

    float:left;

}



.listchannellarge .imagechannelinfo{

    padding-left:10px;

    text-align:left;

}



.listchannellarge .imagechannelinfo .title{

    

}



.listchannel a .imagechannel a img{

    width:120px;

    height:90px;
	
	font-size: 10px;

}

.listchannellarge .imagechannel a img{

    width:120px;

    height:90px;

}



.listchannel .star img,.listchannellarge .star img{

    border:none;

}



.startratebox{

    height:19px;

    width:120px;

	/*   text-align:center; */

    border:0px solid;
	
}

.startratebox img {

    border: 0 !important;

}



.startratebox2{

    height:19px;

    width:192px; 

    border:0px solid;

}

.startratebox2 img {

    border: 0 !important;

    width:11px;

}

/* group */

 

#browsegroup-title .videopaging{



}

.groupdetail{

    float:left;

}

/* end group */



/* Friends */

.friendlist {

    margin: 0;

    padding: 0;

    float: left;

    display: block;

    border-bottom: 1px solid #eaeaea;

    width: 496px;

}

.friendspict {

    width: 52px;

    margin: 10px 20px 0 10px;

    float: left;



}

.dropdownviewnav {

    width: 100%;

    display: block;

    float:right;

    text-align: right;

    padding: -5px 10px 10px 0;

}

.friendsaction {

    width: 496px;

}

.selectaction { 

    padding: 10px;

    text-align:right;

}

#myfriends p {

    margin: 0;

    padding: 5px 0 5px 0;

}

.friendstat {

    margin-left: 70px;

}

.friendstat p span {

    padding: 0 30px 0 20px;

}

.friendstat p span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

}



.friendstat p span.flag {

    background: transparent url(../images/tpl_icon_flag.gif) no-repeat;

}



.friendstat p span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

}

/* End Friends */



/*My Video */

.myvideo {

    margin-top: 10px;

    width: 495px;

    display:block;

    float: left;

}

.videothumb {

    width: 140px;

    display: block;

    float: left;

    text-align: center;

}

.videothumb img {

    padding: 2px;

    border: 1px solid #EEE;

}

.maindesc {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

    border-bottom: 1px solid #EEE;

}

.maindescwithoutborder {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

    border-bottom: none;

}



.otherdesc {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 140px;

}   



/* End My Video */



/* Inbox Outbox */



.inbox th {

    border-bottom: 3px solid #BDF4FF;

    height: 30px;

    background-color: #F0FCFF;

    text-align: center;

}

.inbox td {

    height: 20px;

    padding: 4px 10px 4px 10px;

}

.inbox td.blue {

    background-color: #F0FCFF;

    padding: 4px 10px 4px 10px;

}

a.newmail {

    padding-left: 25px;

    background: transparent url(../images/tpl_icon_new_message.gif) no-repeat;

    font-weight:bold;

}

a.openedmail {

    padding-left: 25px;

    background: transparent url(../images/tpl_icon_message.gif) no-repeat;

}

/* End Inbox Outbox*/



/* Groups */

#groups p {

    margin: 15px 5px;

    padding: 0px;

}



#groups p span {

    margin: 5px 5px 0 0;

    padding: 0 0 0 18px;

    font-weight: bold;

}



.group {

    margin-top: 10px;

    width: 496px;

    display:block;

    float: left;

}

.groupthumb {

    width: 140px;

    display: block;

    float: left;

    text-align: center;

    margin: 10px 0 0 0;

}

.groupthumb img {

    padding: 2px;

    border: 1px solid #EEE;

}



#groups p span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

    letter-spacing: -1px;

}



#groups p span.topic {

    background: transparent url(../images/tpl_icon_topic.gif) no-repeat;

    letter-spacing: -1px;

}



#groups p span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

    letter-spacing: -1px;

}



p#grouphome_icon, p#grouppost_icon {

    margin: 15px 5px;

    padding: 0px;

}



p#grouphome_icon span, p#grouppost_icon span {

    margin: 5px 5px 0 0;

    padding: 0 0 0 18px;

    font-weight: bold;

}



p#grouphome_icon span.video, p#grouppost_icon span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouphome_icon span.people, p#grouppost_icon span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouppost_icon span.flag {

    background: transparent url(../images/tpl_icon_flag.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouphome_icon span.newpeople {

    background: transparent url(../images/tpl_icon_membernew.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouphome_icon span.newvideo {

    background: transparent url(../images/tpl_icon_videonew.gif) no-repeat;

    letter-spacing: -1px;

}





.groupdesc {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

}

.group-home-desc {

    display: block;

    float: left;



}

.groupforum-items {

    margin: 0 10px;

}

.group-post-desc {

    display: block;

    float: left;

    width: 550px;



}

.grouppost-comment {

    border-bottom: 1px solid #EAEAEA;

}



.divede-box{

    clear:both;

    padding-bottom:20px;

    display:block;

}

/*

form#add_group_topic textarea.fullboxtext{

    width: 300px;

    float: left;

}

.attachvideo {

    width: 300px;

    margin: 0 0 0 20px;

}*/

/*End Group */



#prevmovie {

    width: 60px;

    float: left;
	
	padding-left: 7px;
	
	text-align: center;

}

#nextmovie {

    width: 60px;
	
	float: left;

    text-align: center;
	

}

#playmovie {

    width: 60px;

    float: left;

    text-align: center;

}

.relatedvideothumbnail {

	padding-left: 5px;

    width: 60px;

    float: left;

    display: block;

    text-align: center;
	
}

.relatedvideodesc {

    width: 100px;

    float: left;

    display: block;

    padding-left: 8px;

    text-align:left;
	
	font: normal 11px/14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}


#recent1,#recent2,#recent3{

    /*padding-left:16px;*/

    padding: 0 8px;

    width:410px;

    float:left;

}



.side_results{

    overflow: auto;

    height: 350px;

    width: 196px;
	
	display: block;
	
}

.boxtable{

    padding-left:30px;

}



.floatmenu{

    float:left;

    width:125px;

    text-align:left;

    background: transparent url(../images/tpl_icon_arrow.gif) no-repeat;

    padding-left:15px;
	
	line-height: 14px;
	
}



.floatmenu-without-arrow{

    float:left;

    width:125px;

    text-align:left;

    padding-left:15px;

}



.comment-content{

    word-wrap: break-word ;

    overflow: auto;

    width:300px;

}



.errorbox{

	border: dotted 1px #FF0000;
	
	color: #FF0000;

	font-weight: normal;
	
	font-size: 13px;

	width:728px;
	
	margin-top: 10px;
	
	margin-bottom: 15px;

	padding: 3px;
}

.msgbox{

	border: dotted 1px #009933;
	
	color: #009933;

	font-weight: normal;
	
	font-size: 13px;

	width:728px;
	
	margin-top: 10px;
	
	margin-bottom: 15px;

	padding: 3px;

}


a.cloudtags {

	text-decoration: none;

	/*border-bottom:dotted 1px #cccccc;*/

	padding: 2px;

	color: #665c50;

}

a.cloudtags:hover {

	text-decoration: none;

	border-bottom: none;

	background: #ff70b7;

	color: white;

	padding: 2px;

}

/* Display Comments */

.comment-divider {

	border-bottom: dotted 1px #ccc;
	
}

.comment-image {

	margin: 3px;
	
	margin-top: 7px;
	
	padding: 1px;
	
	border: 1px solid #ccc;

}

span.comment-info {

	font-size: 11px;
	
	color: #999999;

}

.comment-body {

	padding: 8px;
	
	border: 1px dashed #CCCCCC;
	
	background: #FDFDFD;

}

#videotabcontainer {

    margin: 0 0 0 5px;

    padding: 0px;

    position: relative;

    top: 0px;

    width: 375px;

}



#videotabcontainer ul {

    margin: 0px;

    padding: 0px;

    list-style-type: none;

    text-align: center;

    font: normal 14px/24px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}



#videotabcontainer li {

    display: inline;

    margin: 0px;

    padding: 0px;

    text-indent: 0px;

}



#videotabcontainer a {

    float: left;

    display: block;

    width: 110px;

    height: 25px;

    color: #ffffff;

    border: none;

    text-decoration: none;

}



#videotabcontainer a:link, #videotabcontainer a:visited, #videotabcontainer a:hover, #videotabcontainer li a.tabactive {

    float: left;

    background: transparent url(../images/tpl_videotabs_btn.gif) no-repeat left top;

    background-position: 0% -25px;

}



#videotabcontainer a:link, #videotabcontainer a:visited {

    background-position: 0% -25px;

}



#videotabcontainer ul li.tabactive {

    background: transparent url(../images/tpl_videotabs_btn.gif) no-repeat left top;

    background-position: 0% 0px;

    line-height: 24px;

}



#videotabcontainer a:hover {

    background-position: 0% -50px;

    line-height: 24px;

}

 



#videotabcontainer li a.tabactive {

    background-position: 0% 0px;

    line-height: 24px;

}

.handcursor{
cursor:hand;
cursor:pointer;
}

#top_links { float: center; }
    
#scrollable {}
#scrollable_content { width: 470px;}
div.items { height:105px; margin: 0; float:left; width: 470px !important; }
div.items a { display:block; float:left; margin-right: 8px; width:111px; height:105px; color:#006699; text-decoration:none; text-align:center; cursor:pointer; }
div.items img { border: 1px solid #313031; }
div.items img:hover { border: 1px solid #006699; }
a.prev, a.next { display:block; cursor:pointer; width:19px; height:19px; background-repeat:no-repeat; margin: 3px 0 0 0;}
a.prev { background:url(../images/scrollable/button-left.gif); float: left;}
a.prev:hover { background:url(../images/scrollable/button-left-over.gif); }
a.next { background:url(../images/scrollable/button-right.gif); float: left; }
a.next:hover { background:url(../images/scrollable/button-right-over.gif); }
div.navi { position:relative; width: 42px; height: 0px; float: left; margin: 6px 3px 0 3px;}
div.navi span { width:8px; height:8px; float:left; margin:3px; background:url(../images/scrollable/dots.png) 0 0 no-repeat; cursor:pointer; }
div.navi span:hover { background-position:0 -8px; }
div.navi span.active { background-position:0 -16px; }

#lang { margin: 0 0 0 3px; }
#lang ul { margin: 0; }
#lang, #lang ul { list-style:none; padding: 0px; float: left; width: 50px;}
#lang li { font:11px/1 Arial, Helvetica, sans-serif;}
#lang li ul { position:absolute; left:-1000em; z-index: 100; }
#lang li:hover ul, #lang li.over ul { left: auto;}
#lang a img { border:none; padding-right:5px; vertical-align:middle; }
#lang a { text-decoration:none; display:block; padding:4px 5px 3px 5px; border:1px solid #ccc; background:transparent url(../images/flags/arrow_down.gif) no-repeat 33px 9px; color:#555; }
#lang a:hover, #lang li:hover a, #lang li.over a { background:#555 url(../images/flags/arrow_down_hover.gif) no-repeat 33px 9px; border:1px solid #555; color:#fff;}
#lang li:hover li a, #lang li.over li a { width:140px; background:#555; }
#lang li li a:hover { background:#54e1ff; }

#recently-header { height: 25px; background: url("../images/tpl_box_bar.png") repeat-x; }
#recently-title { float: left; }
#recently-nav {float: right; margin-right: 5px; width: 112px;}
